body {
  background-color: rgb(255, 153, 153);
  text-align: center;
}

main {
  margin-right: 20px;
  margin-left: 20px;
  background-color: white;
}


h1 {
  text-align: center;
  color: red;
}
h2 a{
  color: black;
  text-decoration: none;
}
h2 a:hover {
  text-decoration: underline;
}

img {
  width: 100%;
  height: auto;
}

@media (min-width: 760px) {
  img {
    max-width: 50%;
  }
}

nav {
  /* background-color: red;
  padding: 10px; */
  position: sticky;
  top: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
}

nav li {
  display: inline;
  margin-right: 25px;
}

nav a {
  color: white;
  font-size: 1.5em;
  text-decoration: none;
}

nav a:hover {
  color: rgba(250, 163, 176, 0.85);
  text-decoration: none;
}
